@model core.Modules.Problem.ProblemData
@{
    ViewBag.Title = "Solve Problem";
}

<h2>Solve Problem</h2>

@Html.ActionLink("Read-only link", "ReadOnly", new { id = Model.Id })
<br /><br />

<div>
    @Html.Raw(Model.Description)
</div>

<hr />

<div id="codeArea"></div>

<br />
<button id="submitButton">Submit</button>

@section styles
{
    <link href="~/Content/ace_editor.css" rel="stylesheet" />
}

@section scripts
{    
    <script src="http://rawgithub.com/ajaxorg/ace-builds/master/src-noconflict/ace.js" type="text/javascript" charset="utf-8"></script>
    <script type="text/javascript">
        $(function () {
            var editor = ace.edit("codeArea");
            editor.setTheme("ace/theme/textmate");
            editor.getSession().setMode("ace/mode/python");
            editor.setDisplayIndentGuides(false);
            editor.setShowPrintMargin(false);

            $('#submitButton').click(function () {
                $.ajax({
                    url: '@Url.Action("Solve")',
                    type: 'POST',
                    data: {
                        code: editor.getValue(),
                        id: @Model.Id,
                        record: @(ViewBag.Record ? "true" : "false")
                    },
                    success: function (data) {
                        if (data.success) {
                            alert("Correct!");
                            window.location.href = '@Url.Action("Home", "Class", new { id = @Model.Class.Id })';
                        } else {
                            alert("Incorrect. Modify your code and try again.\r\n" + data.output);
                        }
                    }
                });
            });
        });
    </script>
}
