@model redinc_reboot.Models.HomeClassListModel

@{
    ViewBag.Title = "Home";
}

<h2>Home</h2>
@if (ViewBag.Error != null)
{
    <p>
        @ViewBag.Error
    </p>
}
<p>
    @Html.ActionLink("New Class", "NewClass", "Class", null, new { id = "newClass" })
</p>

<div id="modal" class="modal hide fade" tabindex="-1" role="dialog" aria-labelledby="modalTitle" aria-hidden="true">
    <div class="modal-header">
        <button type="button" class="close" data-dismiss="modal" aria-hidden="true">×</button>
        <h3 id="modalTitle">Create New Class</h3>
    </div>
    <div class="modal-body"></div>
    <div class="modal-footer">
        <input type="button" class="btn" data-dismiss="modal" aria-hidden="true" value="Close"/>
        <input id="createNewClass" type="submit" class="btn btn-primary" value="Create" />
    </div>
</div>

    <h3>Instructor Classes</h3>
    <div class="container">
		<div class="well">
@foreach(var classItem in Model.InstructorClassList)
{
		    @Html.ActionLink((classItem.Name), "Home", "Class", new { id = classItem.Id }, new { @class = "btn btn-large btn-block btn-text-left" })
}
		</div>
    </div> <!-- /container -->

<h3>Student Classes</h3>
    <div class="container">
		<div class="well">
@foreach(var classItem in Model.StudentClassList)
{
		    @Html.ActionLink((classItem.Name), "Home", "Class", new { id = classItem.Id }, new { @class = "btn btn-large btn-block btn-text-left" })
}
        </div>
    </div> <!-- /container -->

<h3>More Classes</h3>
<div class="container">
<div class="well">
@foreach(var classItem in Model.AllOtherClassesList)
{
    <div> 
            @Html.DisplayFor(modelItem => classItem.Name)
            @Html.ActionLink("Join", "Home", "Class", new { id = classItem.Id }, new { @class = "btn" })
            
    </div>
}
</div>
</div>

<br /><br /><br /><br />

@section scripts
{
    <script type="text/javascript">
        $(function () {
            $('#newClass').click(function (e) {
                e.preventDefault();
                $('#modal').modal({ remote: this.href });
            });

            $('#createNewClass').click(function () {
                $('#newClassForm').submit();
            });
        });
    </script>
}