@model redinc_reboot.Models.HomeClassListModel

@{
    ViewBag.Title = "Home";
}

<h2>Home</h2>
@if (ViewBag.Error != null)
{
    <p>
        @ViewBag.Error
    </p>
}
<p>
    @Html.ActionLink("New Class", "NewClass", "Class", null, new { id = "newClass" })
</p>

<div id="modal" class="modal hide fade" tabindex="-1" role="dialog" aria-labelledby="modalTitle" aria-hidden="true">
    <div class="modal-header">
        <button type="button" class="close" data-dismiss="modal" aria-hidden="true">×</button>
        <h3 id="modalTitle">Create New Class</h3>
    </div>
    <div class="modal-body"></div>
    <div class="modal-footer">
        <input type="button" class="btn" data-dismiss="modal" aria-hidden="true" value="Close"/>
        <input id="createNewClass" type="submit" class="btn btn-primary" value="Create" />
    </div>
</div>

<h3>Instructor Classes</h3>
<table>
@foreach(var classItem in Model.InstructorClassList)
{
    <tr>
        <td>
            @Html.DisplayFor(modelItem => classItem.Name)
        </td>
        <td>
            @Html.ActionLink("View", "Home", "Class", new { id=classItem.Id }, null)
        </td>
    </tr>
}
</table>

<h3>Student Classes</h3>
<table>
@foreach(var classItem in Model.StudentClassList)
{
    <tr>
        <td>
            @Html.DisplayFor(modelItem => classItem.Name)
        </td>
        <td>
            @Html.ActionLink("View", "Home", "Class", new { id=classItem.Id }, null)
        </td>
    </tr>
}
</table>

<h3>More Classes</h3>
<table>
@foreach(var classItem in Model.AllOtherClassesList)
{
    <tr>
        <td>
            @Html.DisplayFor(modelItem => classItem.Name)
        </td>
        <td>
            @Html.ActionLink("Join", "Join", "Class", new { id=classItem.Id }, null)
        </td>
    </tr>
}
</table>

@section scripts
{
    <script type="text/javascript">
        $(function () {
            $('#newClass').click(function (e) {
                e.preventDefault();
                $('#modal').modal({ remote: this.href });
            });

            $('#createNewClass').click(function () {
                $('#newClassForm').submit();
            });
        });
    </script>
}