@model redinc_reboot.Models.HomeClassListModel

@{
    ViewBag.Title = "Home";
}

<h2>Home</h2>

<p>
    @Html.ActionLink("Create New Class", "CreateClass")
</p>

<table>
    <tr>
        <th>
            Class ID
        </th>
        <th>
            Class Name
        </th>
        <th>
            Instructor
        </th>
    </tr>
    @foreach (var item in Model.ClassItems)
    {
        <tr>
            <td>
                @Html.DisplayFor(modelItem => item.Id)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Name)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Instructor)
            </td>
            <td>
                @Html.ActionLink("Edit Class", "EditClass", new {@id=item.Id}) |
                @Html.ActionLink("Class Details", "ClassDetails", new {@id=item.Id}) |
                @Html.ActionLink("Delete Class", "DeleteClass", new {@id=item.Id}) |
                @Html.ActionLink("Join Class", "JoinClass", new {@id=item.Id})
            </td>
        </tr>
    }
</table>