@{
    ViewBag.Title = "Practice makes Python";
}
@section featured {
    <section class="featured">
        <div class="content-wrapper">
            <hgroup class="title">
                <h1>@ViewBag.Title.</h1>
                <h2>@ViewBag.Message</h2>
            </hgroup>
            <p>
                Until the entire site is up and running, here are some links to functioning pages:
                <ul>
                    <li>@Html.ActionLink("Logged-in Home", "Home", "Home")</li>
                    <li>@Html.ActionLink("Python Test", "PythonTestPage", "Home")</li>
                    <li>@Html.ActionLink("Edit Problem Set", "Edit", "ProblemSet")</li>
                    <li>@Html.ActionLink("Edit Problem", "Edit", "Problem")</li>
                    <li>@Html.ActionLink("Solve Problem", "Solve", "Problem")</li>
                    <li>@Html.ActionLink("Manage Account", "Manage", "Account")</li>

                </ul>

            </p>
        </div>
    </section>
}
