@model redinc_reboot.Models.ProblemSetViewModel

@{
    ViewBag.Title = "Edit Problem Set";
}

<h2>Edit Problem Set</h2>

@if (Model.Set.Id == -1)
{
    @Html.LabelFor(m => m.Set.Name)
    @Html.DisplayTextFor(m => m.Set.Name);
}
else
{
    <p>
        <a href="#confirmModal" role="button" class="btn btn-danger" data-toggle="modal">Delete</a>
    </p>

    using (Html.BeginConfirmModal("Delete Problem Set?"))
    {
        <p>
            Are you sure you want to delete @Model.Set.Name? 
            This cannot be undone.
        </p>
    }
    
    using (Html.BeginForm())
    {
        <fieldset>
            @Html.HiddenFor(m => m.Set.Id)
            @Html.HiddenFor(m => m.Set.Class.Id)
            @Html.LabelFor(m => m.Set.Name)
            @Html.TextBoxFor(m => m.Set.Name)

            <table id="prereqTable">
                <tr>
                    <th>Prerequisite Set</th>
                    <th>Number of Problems Required</th>
                    <th>Delete</th>
                </tr>
                @foreach (var prereq in Model.Prereqs)
                {
                    Html.RenderPartial("EditorTemplates/PrereqRow", prereq);
                }
            </table>
            <label for="addPrereq" style="display: inline-block">Add:</label>
            <input type="text" id="addPrereq" />
        
            <br />
            <input type="submit" value="Save" />
        </fieldset>
    }
}

<hr />

<label>Problems</label>
<table>
    @foreach (var prob in Model.Problems)
    {
        Html.RenderPartial("EditorTemplates/ProblemRow", prob);
    }
</table>

@section styles
{    
    <link href="~/Content/autocomplete.css" rel="stylesheet" />
}

@section scripts
{
    <script type="text/javascript">
        $(function () {
            $("#prereqTable").on("click", "button.deletePrereq", function () {
                $(this).parents("tr.prereqRow:first").remove();
                return false;
            });

            $('#addPrereq').autocomplete({
                source: '@Url.Action("Search", "ProblemSet")',
                minLength: 2,
                select: function (e, ui) {
                    $.ajax({
                        url: '@Url.Action("AddPrereq")',
                        data: ui.item,
                        cache: false,
                        success: function (html) {
                            $("#prereqTable").append(html);
                        }
                    });
                    $(this).val('');
                    return false;
                }
            });

            $('#confirmModalButton').click(function () {
                $('#confirmModalButton').prop('disabled', true);
                $.ajax({
                    url: '@Url.Action("Delete")',
                    type: 'POST',
                    data: {
                        id: @Model.Set.Id
                    },
                    success: function (response) {
                        window.location.href = '@Url.Action("Home", "Class", new { id = @Model.Set.Class.Id })';
                    }
                });
            });
        });
    </script>
}