@{
    ViewBag.Title = "_NavbarPartial";
}

<!--- Navbar
    ================================================== --->
    <div class="navbar navbar-inverse navbar-fixed-top">
      <div class="navbar-inner">
        <div class="container">
          <a class="btn btn-navbar" data-toggle="collapse" data-target=".nav-collapse">
            <span class="icon-bar"></span>
            <span class="icon-bar"></span>
            <span class="icon-bar"></span>
          </a>
          <a class="brand" href="./index.html">Practice Makes Python</a>
          <div class="nav-collapse">
            <ul class="nav">
              <li><a href="./index.html">CS 1301 (Change Class)</a></li>
              <li><a href="./getting-started.html">Problem Sets</a></li>
              <li><a href="./scaffolding.html">My Progress</a></li>
			</ul>
              
			<div style="float:right;">
				<ul class="nav">
                    @if (Request.IsAuthenticated) {
                        var name = "Hello," + User.Identity.Name + "!";
                        var logoff = "Log off";
                        <li>@name</li>
                                    
                            @Html.BeginForm("LogOff", "Account", FormMethod.Post, new { id = "logoutForm" }) {
                                @Html.AntiForgeryToken()
                                <li><a href="javascript:document.getElementById('logoutForm').submit()">@logoff</a></li>
                            }
                    
                    } else {
                        <li>@Html.ActionLink("Register", "Register", "Account", routeValues: null, htmlAttributes: new { id = "registerLink" })</li>
                        <li>@Html.ActionLink("Log in", "Login", "Account", routeValues: null, htmlAttributes: new { id = "loginLink" })</li>
                    }
				  <!---<li class="">
					<a href="./base-css.html"><i class="icon-wrench"></i> Settings</a>
				  </li>
				  <li class="">
					<a href="./base-css.html">Logout</a>
				  </li> --->
				</ul>
			</div>
                  
			<!--- <div style="float:right; color:#AAAAAA; padding:10px 0px">Hi, John Doe!</div> --->
                  
          </div>
        </div>
      </div>
    </div>