@model core.Modules.Class.ClassData

@{
    ViewBag.Title = "ClassDetails";
}

<h2>ClassDetails</h2>

<fieldset>
    <legend>ClassData</legend>

    <div class="display-label">
         @Html.DisplayNameFor(model => model.Name)
    </div>
    <div class="display-field">
        @Html.DisplayFor(model => model.Name)
    </div>

    <div class="display-label">
         @Html.DisplayNameFor(model => model.Instructor)
    </div>
    <div class="display-field">
        @Html.DisplayFor(model => model.Instructor)
    </div>

</fieldset>
<p>
    @Html.ActionLink("Edit", "Edit", new { id=Model.Id }) |
    @Html.ActionLink("Back to List", "Index")
</p>
