@model IEnumerable<redinc_reboot.Models.HomeClassListModel>

@{
    ViewBag.Title = "ClassHome";
}

<h2>Class Home</h2>
@if (WebSecurity.CurrentUserName == null)
    @Html.DisplayText("Please log in or register to begin")

else{
    <p>
        @Html.ActionLink("Create New", "NewClass")
    </p>
    <h3>Classes I Teach</h3>
    <table>
        <tr>
            <th>
                @Html.DisplayNameFor(model => model.Name)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Instructor)
            </th>
            <th></th>
        </tr>

    @foreach (var item in Model) {
        foreach(var classItem in item.InstructorClassList){
            <tr>
                <td>
                    @Html.DisplayFor(modelItem => classItem.Name)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => classItem.Instructor)
                </td>
                <td>
                    @Html.ActionLink("Edit", "EditClass", new { id=classItem.Id }) |
                    @Html.ActionLink("Details", "ClassDetails", new { id=classItem.Id }) |
                    @Html.ActionLink("Delete", "DeleteClass", new { id=classItem.Id })
                </td>
            </tr>
        }
    }
    </table>

    <h3>My Classes</h3>
    <table>
        <tr>
            <th>
                @Html.DisplayNameFor(model => model.Name)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Instructor)
            </th>
            <th></th>
        </tr>

    @foreach (var item in Model) {
        foreach(var classItem in item.StudentClassList) {
            <tr>
                <td>
                    @Html.DisplayFor(modelItem => classItem.Name)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => classItem.Instructor)
                </td>
                <td>
                    @Html.ActionLink("Details", "ClassDetails", new { id=classItem.Id }) |
                    @Html.ActionLink("Problem Sets", "ProblemSet", "ProblemSet", new { id=classItem.Id })
                </td>
            </tr>
        }
    }
    </table>

    <h3>More Classes</h3>
    <table>
        <tr>
            <th>
                @Html.DisplayNameFor(model => model.Name)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Instructor)
            </th>
            <th></th>
        </tr>

    @foreach (var item in Model) {
        foreach(var classItem in item.AllOtherClassesList) {
            <tr>
                <td>
                    @Html.DisplayFor(modelItem => classItem.Name)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => classItem.Instructor)
                </td>
                <td>
                    @Html.ActionLink("Details", "ClassDetails", new { id=classItem.Id }) |
                    @Html.ActionLink("Join", "JoinClass", new { id=classItem.Id })
                </td>
            </tr>
        }   
    }
    </table>
}