@model redinc_reboot.Models.ClassViewModel

@{
    ViewBag.Title = "Instructor Class Home";
}

<h2>@Model.Class.Name Instructor Home</h2>
<p>
    <a href="#confirmModal" role="button" class="btn btn-danger" data-toggle="modal">Delete Class</a>
</p>

@using (Html.BeginConfirmModal("Delete Class?"))
{
    <p>
        Are you sure you want to delete @Model.Class.Name? 
        Doing so will also delete all problem sets, problems, and their associated student solutions.
        This cannot be undone.
    </p>
}


<div class="btn-toolbar">
    @Html.ActionLink("New Problem Set", "Edit", "ProblemSet", new { classId = Model.Class.Id }, new { @class = "btn" })
    @Html.ActionLink("New Problem", "Edit", "Problem", new { @class = "btn" })
    @Html.ActionLink("Class Progress Report", "Class", "Progress", new { id = Model.Class.Id }, new { @class = "btn" })
</div>

<br /><br />

@using (Html.BeginForm("Edit", "Class"))
{
    <fieldset>
        @Html.HiddenFor(m => m.Class.Id)
        @Html.LabelFor(m => m.Class.Name)
        @Html.TextBoxFor(m => m.Class.Name)

        <p>
            <input type="submit" value="Save Name" />
        </p>
    </fieldset>
}

<h2>Problem Sets</h2>
<div class="container">
    <div class="well">
        @foreach (var set in Model.Sets)
        {
            @Html.ActionLink(set.Name, "Edit", "ProblemSet", new { classId = Model.Class.Id, problemSetId = set.Id }, new { @class = "btn btn-block btn-large btn-text-left" })
        }

    </div>
</div>

@section scripts
{
    <script type="text/javascript">
        $(function () {
            $('#confirmModalButton').click(function () {
                $('#confirmModalButton').prop('disabled', true);
                $.ajax({
                    url: '@Url.Action("Delete")',
                    type: 'POST',
                    data: {
                        id: @Model.Class.Id
                    },
                    success: function (response) {
                        window.location.href = '@Url.Action("Home", "Home")';
                    }
                });
            });
        });
    </script>
}
