@model core.Modules.Class.ClassData
@{
    ViewBag.Title = "Student Class Home";
}

<h2>@Model.Name Student Home</h2>

@Html.ActionLink("New Problem", "Edit", "Problem")
@Html.ActionLink("My Progress", "Student", "Progress", new { id = WebSecurity.CurrentUserId }, null)
<br /><br />

<h3>Unlocked Sets</h3>
<table>
    @foreach (core.Modules.ProblemSet.ProblemSetData set in ViewBag.UnlockedSets)
    {
        <tr><td>
            @Html.ActionLink(set.Name, "Solve", "Problem", new { id = set.Id }, null)
        </td></tr>
    }
</table>

<h3>Locked Sets</h3>
<table>
    @foreach (core.Modules.ProblemSet.ProblemSetData set in ViewBag.LockedSets)
    {
        <tr><td>
            @Html.DisplayTextFor(m => set.Name)
        </td></tr>
    }
</table>

<h3>Solved Sets</h3>
<table>
    @foreach (core.Modules.ProblemSet.ProblemSetData set in ViewBag.SolvedSets)
    {
        <tr><td>
            @Html.DisplayTextFor(m => set.Name)
        </td></tr>
    }
</table>
