@model redinc_reboot.Models.ProgressReportModel

@{
    ViewBag.Title = "ClassProgressView";
}

@Html.ActionLink("Home", "Home", "Home")

<h2>Class Progress for @Model.Class.Name</h2>
<table>
<tr>
    <td>
        @Html.DisplayName("First Name");
    </td>
    <td>
        @Html.DisplayName("Last Name");
    </td>
    <td>
        @Html.DisplayName("E-mail");
    </td>
    <td>
        @Html.DisplayName("Average Number of Attempts");
    </td>
    <td>
        @Html.DisplayName("Number Correct");
    </td>
</tr>
@foreach(var setItem in Model.ClassProgressList)
{
    <tr>
        <td>
            @Html.DisplayFor(modelItem => setItem.FirstName)
        </td>
        <td>
            @Html.DisplayFor(modelItem => setItem.LastName)
        </td>
        <td>
            @Html.ActionLink(setItem.Email, "StudentProgressView", "ProgressReports", new { userId = setItem.Id }, null)
        </td>
        <td>
            @Html.DisplayFor(modelItem => setItem.AvgAttempts)
        </td>
        <td>
            @Html.DisplayFor(modelItem => setItem.NumCorrect)
        </td>
    </tr>
}
</table>